@charset "UTF-8";

div#perform {
    width: 100%;
    height: 100%;
}

div#perform>div#section01 { 
    width:100%; 
    height: 500px;
    max-width: 1920px; 
    min-width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}

div#perform>div#section01>.swiper-container {
    width: 100%;
	max-width: 1920px;
	min-width: 1300px;
	overflow: hidden;
	margin: 0 auto;
	height: 500px;
	position: relative;
	margin-top: 50px;
}

div#perform>div#section01>.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: fit-content;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 505px;
  margin: 0 10px;
}

div#perform>div#section01>.swiper-container .swiper-slide>a {
    width: 100%;
    height: 100%;
}

div#perform>div#section01>.swiper-container>.swiper-button-next {
    top: 50%;
    background-position-x: center;
    background-position-y: center;
}

div#perform>div#section01>.swiper-container>.swiper-button-prev {
    top: 50%;
    background-position-x: center;
    background-position-y: center;
}

div#perform>div#section01>.swiper-container .swiper-slide.swiper-slide-active {
    width: 500px;
    height: 470px;
}

div#perform>div#section01>.swiper-container .swiper-slide:not(.swiper-slide-active) {
    width: 450px;
    line-height: 450px;
    height: 450px;
    margin-top: 10px;
}

div#perform>div#section01>.swiper-container .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next) {
    filter: saturate(30%);
}

div#perform>div#section01>.swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

div#perform>div#section01>.swiper-container .swiper-slide p {
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 100%;
    transition: 0.3s all;
    color: #fff;
}

div#perform>div#section01>.swiper-container .swiper-slide p.slideTitle {
    padding-bottom: 60px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: -0.3px;
}

div#perform>div#section01>.swiper-container .swiper-slide p.slideDetail {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 25px;
}
    

div#perform>div#section02 { 
    width:100%; 
}

div#perform>div#section02>p.title { 
    height:50px; 
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
    margin-top: 30px;
}

div#perform>div#section02>div.focusImg { 
    text-align: center; 
    padding-left: 1px;
    display: flex;
    margin: 0 350px; 
}

div#perform>div#section02>div.focusImg>a { 
    display: inline-block; 
    width:397px; 
    height:223px; 
    margin-left: -1px;
    border: 1px solid #ddd; 
    position: relative; 
    overflow: hidden; 
    text-decoration: none; 
    outline: none; 
    color: inherit; 
    cursor: pointer;
}

div#perform>div#section02>div.focusImg>a:hover {
    border: 1px solid #ec7d2c; 
    margin-right: 1px;
}

div#perform>div#section02>div.focusImg img { 
    width:100%; 
    height:100%; 
    transition: all 0.5s;
}

div#perform>div#section03 {
    width:100%; 
}

div#perform>div#section03>p.title { 
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
}

div#perform>div#section03>div.hotList {
    width: 1200px; 
    height:452px;
	margin: 0 auto;
    text-align: center;
    display: flex;
}

div#perform>div#section03>div.hotList>a {
	display: inline-block;
    width: 216px; 
    height:410px;
	margin: 0 15px;
    vertical-align: top;
    text-decoration: none;
    outline: none;
    color: inherit;
}

div#perform>div#section03>div.hotList div.hotWrap>img{ 
    display: block;
    width: 100%;
    transition: all 0.3s;
    height: 290px;
}

div#perform>div#section03>div.hotList div.hotTxtWrap {
    width: 100%; 
    height: 108px;
	text-align: center;
    position: relative;
}

div#perform>div#section03>div.hotList div.hotTxtWrap p.hotTxt1 {
	font-size: 16px;
    line-height: 22px;
    color: #888;
    padding: 25px 0 12px 0;
}

div#perform>div#section03>div.hotList div.hotTxtWrap p.hotTxt2 {
	font-size: 16px;
    white-space: nowrap;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#perform>div#section03>div.hotList div.hotTxtWrap p.hotCircle {
    top: -40px;
    font-size: 18px;
    color: #fff;
    background: #ec7d2c;
    width: 57px;
    height: 57px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    font-weight: bold;
    position: absolute;
    left: 10px;
}


div#perform>div#section04 { 
    width: 100%;
    height: 500px;
    min-width: 1300px;
    position: relative;
    margin-top: 115px;
    background: #f6f6f6;
}

div#perform>div#section04>div.rankWrap {
    position: absolute;
    width: 1200px; 
    height: 480px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,0);
}

div#perform>div#section04>div.rankWrap>div.rank {
    float: left;
    width: 478px; 
    height: 480px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
}

div#perform>div#section04>div.rankWrap>div.rank>p.rankTitle {
    width: 370px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 54px;
    top: 52px;
    margin: auto;
}

div#perform>div#section04>div.rankWrap>div.rank>p.rankTitle>a {
    display: block;
    position: absolute;
    right: 0; 
    top: -4px;
    text-decoration: none;
    outline: none;
    width: 80px;
}

div#perform>div#section04>div.rankWrap>div.rank>p.rankTitle img {
    width: 100%;
    cursor: pointer;
}
    
div#perform>div#section04>div.rankWrap>div.rank>ul.rankList {
    display: block;
    width: 370px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    position: absolute;
    left: 54px;
    top: 105px;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li {
    padding: 14px 0;
    height: 20px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li:last-child {
    border-bottom: 0 none;
}


div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li.on { 
    height: auto; 
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li>a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li>a>div.rankDetail{ 
    overflow: hidden; 
    height: 112px; 
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li>a>div.rankDetail>div.rankNum,div.rankTxt{ 
    float: left;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li>a>div.rankDetail>div.rankNum{ 
    margin: 0 5px 0 10px;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li>a>div.rankDetail>div.rankImg {
    float: left;
    width: 714px;
    height: 400px;
    position: relative;
    display: none;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li.on div.rankDetail>div.rankImg {
    float: left;
    width: 714px;
    height: 400px;
    position: relative;
    display: block;
    width: 80px;
    height: 112px;
    margin: 0 10px;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li div.rankDetail>div.rankImg>img.on {
    width:100%;
    height: 100%;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li p { 
    display: none; 
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li p.txt1 { 
    display: block; 
    margin: 0;
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li.on p { 
    display: block; 
}

div#perform>div#section04>div.rankWrap>div.rank>ul.rankList>li.on p.txt1 { 
    font-weight: bold; 
}

div#perform>div#section04>div.rankWrap>div.recomCont {
    float: left;
    width: 680px; 
    height: 480px;
    border: 1px solid #ddd;
    margin-left: 30px;
    background: #fff;
    position: relative;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomTitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList {
    display: flex;
    text-align: center;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList>a {
    text-align: center;
    width: 160px;
    height: 224px;
    margin-left: 50px;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList div.recomItem {
    width: 100%;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList div.recomItem>img {
	display: block;
	width: 100%;
	height: 220px;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList div.recomItem div.recomItemTxt {
	width: 100%;
	height: 108px;
	text-align: center;
    position: relative;
    font-size: 15px;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList div.recomItem div.recomItemTxt>p.recomItemTxt1 {
    padding: 25px 0 12px 0;
    margin: 0;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList div.recomItem div.recomItemTxt>p.recomItemTxt3 {
    font-size: 13px;
    color: #999;
    line-height: 20px;
    letter-spacing: -.4px;
    margin: 0 auto;
}

div#perform>div#section04>div.rankWrap>div.recomCont>div.recomList div.recomItem div.recomItemTxt>p.recomItemCircle {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    top: -130px;
    left: 50%;
    margin-left: -30px;
    background: #ec7d2c;
    border-radius: 50%;
    font-weight: bold;
}


div#perform>div#section05>p.listTitle {
	height:100px;
	text-align: center;
}

div#perform>div#section05>div.listTab {
	border-bottom: 2px solid #333;
	width: 1200px;
    margin: 0 auto;
    text-align: center;
}

div#perform>div#section05>div.listTab>span {
	display: inline-block;
	padding: 0 41px;
	position: relative;
}

div#perform>div#section05>div.listTab>span>a {
	display: inline-block;
	padding: 0 5px;
	height: 61px;
	line-height: 62px;
	position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #888;
    cursor: pointer;
}

div#perform>div#section05>div.listTab>span>a.on {
    color: #333;
    font-weight: bold;
    margin: 0 -5px;
}

div#perform>div#section05>div.listTab>span>a::before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #ec7d2c;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3;
}

div#perform>div#section05>div.listTab>span>a.on::before {
    width: 100%;
}

div#perform>div#section05>div.listTab>span>a.on::after {
    content: "↓";
    display: inline;
    color: #333;
    margin-left: 3px;
}

div#perform>div#section05>div.listTab>span::after {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 22px;
}


div#perform>div#section05>div.listTab>span:nth-child(4)::after {
    content: "";
    display: none;
    width: 1px;
    height: 15px;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 22px;
}

div#perform>div#section05>p.listTxt {
	width: 1200px;
	margin: 0 auto;
	height: 182px;
	line-height: 173px;
	text-align: center;
}

div#perform>div#section05>div.list {
	width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

div#perform>div#section05>div.list.on {
	display: block;
}

div#perform>div#section05>div.list:not('on') {
	display: none;
}

div#perform>div#section05>div.list>a {
	cursor: pointer;
    display: inline-block;
    width: 216px;
    height: 410px;
    margin: 0 5px 35px 5px;
    vertical-align: top;
    text-decoration: none;
}

div#perform>div#section05>div.list div.listItem {
	width: 216px;
	height: 410px;
}

div#perform>div#section05>div.list div.listItem>img {
	display: block;
	width: 100%;
	height: 278px;
}

div#perform>div#section05>div.list div.listItem div.listItemTxt {
	width: 100%;
	height: 108px;
	text-align: center;
	position: relative;
}

div#perform>div#section05>div.list div.listItem div.listItemTxt>p.listItemTxt1 {
    padding: 25px 0 12px 0;
    margin: 0;
}

div#perform>div#section05>div.list div.listItem div.listItemTxt>p.listItemTxt2,p.listItemTxt3 {
    font-size: 14px;
    color: #999;
    line-height: 20px;
    letter-spacing: -.4px;
    margin: 0 auto;
}

div#perform>div#section05>div.list div.listItem div.listItemTxt>p.listItemCircle {
    top: -40px;
    font-size: 18px;
    color: #fff;
    background: #ec7d2c;
    width: 57px;
    height: 57px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    font-weight: bold;
    position: absolute;
    left: 10px;
}




