@charset "UTF-8";
/*----------------------------------------------
                    지역별
----------------------------------------------*/
#region #section {width:100%}

#region .cont {width:1200px;margin: 0 auto;}

#region .mainTitle {
    text-align:center; 
    font-size:45px;
    padding: 90px 0 60px 0;
}

#region .region_tab {
    width:1200px; 
    margin:0 auto 60px auto;
    margin-bottom:60px;
    text-align: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 0;
}

#region .region_tab a {
    display:inline-block;
    box-sizing:border-box;
    border:1px solid #ddd; 
    width: 14.285%;
    text-align:center; 
    font-size:16px;
    height: 70px;
    line-height: 70px;
    color: #333;
    position: relative;
}

#region .region_tab a.on {
    background: #ec7d2c;
    border-color: #ec7d2c;
    color: #fff;
    font-weight: bold;
}

#region .re_search {
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    background: #f6f6f6;
    border-bottom: 2px solid #333;
    font-size: 0;
}


#region .re_search .re_search_top {
    height: 60px;
    line-height: 60px;
}

#region .re_search > div {
    width: 1130px;
    margin: 0 auto;
}

#region .re_search .re_search_top a {
    font-size: 15px;
    color: #333;
    display: inline-block;
    margin-left: 12px;
    font-weight: 700;
}

#region .re_search .re_search_top > div {
    float: right;
    margin-top: -1px;
    font-size: 0;
    height: 60px;
}

#region .re_search .re_search_top a.on {
    border-top: 3px solid #ec7d2c;
}

#region .re_search .re_search_top > div a {
    display: inline-block;
    margin-left: 12px;
    position: relative;
    padding: 0 4px;
    height: 57px;
}

#region .re_search .re_search_top a.on span {
    color: #333;
    padding-right: 13px;
    position: relative;
    font-weight: 700;
}

#region .re_search .re_search_top a span {
    color: #666;
    font-size: 14px;
    vertical-align: middle;
}

#region .re_search_top > div a.on span:after {
    content: "↓";
    display: block;
    color: #333;
    position: absolute;
    top: -23px;
    right: 0;
    height: 45px;
    font-weight: normal;
    font-family: 'Noto Sans KR','NanumBarunGothic','맑은 고딕','Malgun Gothic',sans-serif;
}

#region .re_search_top > div a:after {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background: #ddd;
    position: absolute;
    top: 22px;
    right: -6px;
}


/* 
#region .re_search_bottom {
    position: relative;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #ddd;
}

#region .re_search_bottom.on {
    overflow: visible;
}

#region .re_search_bottom .re_search_div {
    margin: 30px 0;
    box-sizing: border-box;
    border: 1px solid #eee;
    background: #fff;
    height: 122px;
}

#region .re_search_bottom .re_search_div dl {
    margin-left: 60px;
    border-bottom: 1px solid #eee;
    height: 60px;
    width: 1018px;
    overflow: hidden;
}

#region .re_search_bottom .re_search_div dl dt {
    float: left;
    line-height: 62px;
    width: 77px;
    text-indent: 10px;
    font-size: 15px;
    color: #333;
    position: relative;
}

#region .re_search_bottom .re_search_div dl dt:after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background: #ccc;
    position: absolute;
    top: 24px;
    right: 0;
}
 */


#region .re_comment {
    height: 188px;
    line-height: 188px;
    text-align: center;
    font-size: 20px;
    color: #333;
}

#region .re_comment span {
    color: #ec7d2c;
}



#region .region_list {
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}

#region .region_list a {
    display: inline-block; 
    margin: 0 15px 55px 15px; 
    vertical-align:top;
    width: 210px;
    height: 410px;
}

#region .region_list a .list_big {
    width: 216px;
    height: 410px;
}

#region .region_list a .list_big img {
    width: 100%;
    display: block;
    transition: all 0.3s;
    height: 287px;
}

#region .region_list a .list_big .list_small {
    width: 100%;
    height: 108px;
    text-align: center;
    position: relative;
}

#region .region_list a .list_big .list_small .list_tit1 {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    padding: 25px 0 12px 0;
}

#region .region_list a .list_big .list_small .list_tit2 {
    font-size: 16px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#region .region_list a:hover img {
    transform: scale(1.08);
}

